.center.jumbotron
  %h1
    Welcome to Hotel Booking App
  %h2
    Kindly #{link_to "login", new_user_session_path} to start booking if you already have an account.
  %h2
    = link_to "Sign up", new_user_registration_path 
    if you are a new user.
  - if user_signed_in?
    %p= link_to "New Reservation", new_reservation_path, class: "btn btn-lg btn-primary"
    %p= link_to "Booking History", '#', class: "btn btn-lg btn-success"
    %p= link_to "Cancel History", '#', class: "btn btn-lg btn-danger"
  - else
    %p= link_to "Search for rooms", '#', class: "btn btn-lg btn-primary"
