%h3 New Reservation
%h4
  = form_for(booking) do |f|
    .form-group
      = f.label :start_date
      = f.date_select :start_date, class: "form-control"
    .form-group
      = f.label :end_date
      = f.date_select :end_date, class: "form-control"
    .form-group
      = f.submit