- if @purpose == "history"
  %h3 <b> BOOKING HISTORY <b>
- else
  %h3 <b> CANCEL BOOKING <b>

.container
  -@booking.each do |booking|
    %ol
      .row
        .col-sm-6{:style => "background-color:white;"}
          = image_tag(booking.room.hotel.id.to_s+".jpg", {:style => "width:550px;height:430px"})
        .col-sm-6{:style => "background-color:lavender;"}
          %h3=booking.room.hotel.name
          %h4 Guest name: #{booking.guest_name}
          %h4 Check-in date: #{booking.start_date}
          %h4 Check-out date: #{booking.end_date}
          %h4 Room type: #{booking.room_type}
          %h4 Room number: #{booking.room.room_number}
          %h4 Booking date & time: #{booking.created_at}
          %br/
          - if @purpose == "cancel"
            %h5= link_to "Cancel booking", booking, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger"
          - else
            %br/
            %br/
            %br/
            %br/
            %br/