!!!
- if @purpose == "history"
  %h1 Booking History
- else
  %h1 Cancel Booking

%table.table2.rowspacing
  -@booking.each do |booking|
    %tr
      %td
        = image_tag(booking.room.hotel.id.to_s+".jpg", {:style => "width:60rem;height:45rem"})
      %td
        %h2=booking.room.hotel.name
        .bookingdetails
          <i>Guest name</i>: #{booking.guest_name}
          %br/
          <i>Check-in date</i>: #{booking.start_date}
          %br/
          <i>Check-out date</i>: #{booking.end_date}
          %br/
          <i>Room type</i>: #{booking.room_type}
          %br/
          <i>Room number</i>: #{booking.room.room_number}
          %br/
          <i>Booking date & time</i>: #{booking.created_at}
          %br/
          - if @purpose == "cancel"
            %p.center= link_to "Cancel booking", booking, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-lg btn-danger"