%h3 New Reservation
.container-fluid
  .col-sm-6{:style => "background-color:white;"}
    = image_tag(@hotel.id.to_s+".jpg", {:style => "width:540px;height:346px"})
  .col-sm-6{:style => "background-color:pink;"}
    %h3=@hotel.name
    %h4 Start date: #{@booking.start_date}
    %h4 End date: #{@booking.end_date}
    %h4 Room type: #{@booking.room_type}
    %h4 Cost per day: #{@roomforbooking.price}
    %br/
    %br/
    %br/
    %br/
    %br/
%br/
%h4 Please enter the guest name and confirm your booking.
%br/
%h4
  = form_for(@booking) do |f|
    = f.hidden_field :start_date, value: params[:start_date]
    = f.hidden_field :end_date, value: params[:end_date]
    = f.hidden_field :room_type, value: params[:room_type]
    = f.hidden_field :room_id, value:@roomforbooking.id
    .form-group
      = f.label :guest_name
      %br/
      = f.text_field :guest_name, class: "form-control"
    .form-group
      = f.submit "Confirm booking"