%h2 New Reservation

= form_for(@booking) do |f|

  .field
    = f.label :start
    %br/
    = f.date_select :start_date
  .field
    = f.label :end
    %br/
    = f.date_select :end_date
  .field
    = f.label :Guest_name
    %br/
    = f.text_field :guest_name
  .actions
    = f.submit