!!!
%h1 New Reservation

%table.table2
  %tr
    %td= image_tag(@hotel.id.to_s+".jpg", {:style => "width:60rem;height:45rem"})
    %td
      %h2=@hotel.name
      %p=@hotel.description
      %br/
      %br/
      .bookingdetails
        <i>Check-in</i> : <b>#{@booking.start_date}</b>
        %br/
        <i>Check-out</i> : <b>#{@booking.end_date}</b>
        %br/
        <i>Room type</i> : <b>#{@booking.room_type}</b>
        %br/
        <i>Cost per day</i> : <b>#{@roomforbooking.price}</b>
%br/
%br/
.bookingdetails Please enter the <i><b>Guest name</b></i> and confirm your booking.
%br/
%h4
  = form_for(@booking) do |f|
    = f.hidden_field :start_date, value: params[:start_date]
    = f.hidden_field :end_date, value: params[:end_date]
    = f.hidden_field :room_type, value: params[:room_type]
    = f.hidden_field :room_id, value:@roomforbooking.id
    .searchbox.form-group
      = f.label :guest_name
      %br/
      = f.text_field :guest_name
    .searchbox.form-group
      = f.submit "Confirm booking"