%h3 New Reservation
%h4
  = form_for(@booking) do |f|
    .form-group
      = f.label :start_date
      %br/
      = f.date_select :start_date, class: "form-control"
    .form-group
      = f.label :end_date
      %br/
      = f.date_select :end_date, class: "form-control"
    .form-group
      = f.label :room_type
      %br/
      = f.select :room_type, options_for_select(["Single room", "Double room", "Triple room"])
    .form-group
      = f.label :guest_name
      %br/
      = f.text_field :guest_name, class: "form-control"
    .form-group
      = f.submit "Confirm details"