%h3 New Reservation

%h4
  = form_for(@booking) do |f|

    .form-group
      = f.label :start
      %br
      = f.date_select :start_date, class: "form-control"
    .form-group
      = f.label :end
      %br
      = f.date_select :end_date, class: "form-control"
    .form-group
      = f.label :Guest_name
      = f.text_field :guest_name, class: "form-control"
    .form-group
      = f.submit