%h3 New Reservation

%h4 Hotel: #{@hotel.name}
%h4 Room number:
%h4 Start date:
%h4 End date:
%h4 Room type:
%br/
%h4 Please enter the guest name and confirm your booking.
%br/
%h4
  = form_for(@booking) do |f|
    .form-group
      = f.label :guest_name
      %br/
      = f.text_field :guest_name, class: "form-control"
    .form-group
      = f.submit "Confirm booking"